body{
    background-color: #050A30;;
    color: aquamarine;
}

h1{
    color: #2d16ff;
}

h2{
    color: #e0dcbe;
}

p{
    color: #D4F1F4;
}

pre{
    background-color: #16165d;
}